# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# .ini files
database.ini
*.ini

# testing files
*.ipynb

.DS_Store
tmp*
*.egg-info